/* Body */
body {
  font-family: Arial, sans-serif;
  background-color:#f4f4f4;
  margin: 0;
  padding: 0;
}


/* Header*/
h1 {
  color: #007bff;
  margin-top: 30px;
  text-align: center;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px;
}

nav li {
}

nav a {
	color: #c0392b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}

nav a:hover {
	color: #c0392b;
}

nav .active a {
	color: #c0392b;
}

/* Forms */
form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

/* Social media links */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
